*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

body {
  background:rgb(20,20,20)
}

.sticky {
    z-index: 9999;
    user-select: none;
    position: sticky;
    top: 0;
    height: 0;
}

.navbar {
    user-select: none;
    height: 70px;
    width: 100%;
    transition: all 0.5s;
    background: rgba(255, 255, 255, 1);
}

.navbar img {
  height: 70px;
  margin: 0px 50px;
}

.navbar ul {
  float: right;
  display: block;
  margin-right: 20px;
}

.navbar ul li {
  display: table-cell;
  margin: 0 8px;
  line-height: 70px;
}

.navbar ul li a {
  color:black;
  text-transform: uppercase;
  border-radius: 8px;
  text-decoration: none;
  padding: 6px 12px;
  font-size: 18px;
}

.navbar ul li a:hover{
    color: rgb(0,0,0,0.3);
}

@media (max-width: 600px) {
    .navbar ul {
      display: none;
    }
}

.home-section {
  width: 100%;
  height: 100vh;
  background: radial-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0,0,0,0.9) 100%), url(../assets/img/bg-masthead.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.top-section {
  width: 100%;
  min-height: 40vh;
  clear: both;
  background: radial-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0,0,0,0.9) 100%), url(../assets/img/bg-masthead.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.navigate {
  width: 100%;
  height: 50px;
  background: rgb(12,12,12);
}

.navigate .navigates {
  height: auto;
  margin: 0 20%;
  float: left;
}

@media (max-width: 600px) {
  .navigate .navigates {
    margin: 0 5%;
  }
}

.navigate a {
  margin-left: 20px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 50px;
}

.top-section .logo {
  text-align: center;
  line-height: 40vh;
}

.top-section .logo h1{
  color: white;
  text-transform: uppercase;
  font-size: 74px;
  display: block;
}

.news-section {
  width: 100%;
  min-height: 50vh;
  text-align: center;
  color: white;
  background: linear-gradient(rgb(20,20,20),rgb(20,20,20));
}
  
.news-section h1{
  padding-top: 80px;
  margin-bottom: 30px;
}

.news-section a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 18px;
  border-radius: 8px;
  background: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.4));
}

.news-section a:hover {
  background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.2));
}
  
.newstable {
  height: 250px;
  width: auto;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}

.newstable a{
  font-size: 30px;
  font-weight: normal;
  padding: 0 0;
  background: rgba(0,0,0,0);
}
  
.newstable::-webkit-scrollbar { 
  display: none; 
}

.newstable table {
  border-collapse:collapse;
}
  
.newstable tr{
  text-align: left;
  border-bottom: 2px solid rgb(200,200,200);
}
  
.newstable th, td{
  color: white;
  font-size: 32px;
  padding: 15px 40px;
}
  
@media (max-width:600px) {
  .newstable th, td{
      font-size: 20px;
      padding: 10px 20px;
    }
}
  
.newstable table a{
    color: white;
    text-decoration: none;
}
  
.newstable table a:hover{
    text-decoration: underline;
    background: none;
}

.about-section {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  color: white;
  background: rgb(20,20,20);
  /* background: linear-gradient(rgb(20,20,20),rgb(0,0,0)); */
}

.about-section h1 {
  font-weight: normal;
  padding-top: 120px;
  padding-bottom: 20px;
}

.about-section p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.about-section img {
  margin: 75px auto;
  max-width: 70%;
  height: auto;
}

@media (max-width:600px) {
  .about-section img {
      max-width: 90%;
  }
}

.contact-section {
  width: 100%;
  height: auto;
  /* min-height: 30vh; */
  text-align: center;
  background: rgb(30, 30, 30);
  /* background: linear-gradient(rgb(20,20,20),rgb(10,10,10)); */
}

.contact-section ul {
  list-style: none;
  padding-top: 50px;
}

.contact-section ul li {
  display: inline-table;
  margin: 35px 35px;
}

.contact-section ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.contact-section ul li img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  transition: all 0.2s linear;
}

.contact-section ul li:hover img {
  transform: scale(1.1, 1.1);
}

.contact-section ul li:hover p {
  transform: translateY(5px);
}

.contact-section p {
  color: white;
  font-size: 18px;
  transition: all 0.5s;
}

.contact-section h1 {
  color: white;
  font-size: 18px;
  font-weight: normal;
  padding-top: 25px;
  padding-bottom: 75px;
}

.member-section {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background: rgb(20, 20, 20);
  /* background: linear-gradient(rgb(20,20,20), rgb(25,25,25)); */
}

.member-section h1{
  color: white;
  font-size: 42px;
  padding-top: 120px;
}

.member-section ul {
  margin: 25px 0px;
  list-style: none;
}

.member-section ul li {
  display: inline-table;
  margin: 50px 50px;
  background: rgb(230,230,230);
  border: 1px solid black;
  transition: all 0.3s;
}

.member-section ul li h1 {
  color: black;
  padding: 0;
  margin: 0;
  line-height: 60px;
}

.member-section ul li .member-item {
  overflow: hidden;
}

.member-section ul li img {
  width: 400px;
  max-width: 100%;
  transition: all 0.2s linear;
}

.member-section ul li:hover img {
  transform: scale(1.1);
}

/* .member-section ul li:hover {
  transform: translateY(-10px) scale(1.02);
} */

.member-section ul li a {
  text-decoration: none;
}

.tab-wrap {
  padding: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tab-label {
  /* color: black; */
  color: white;
  font-size: 20px;
  font-weight: bold;
  background: none;
  margin-right: 15px;
  padding: 15px 25px;
  order: -1;
  border-radius: 20px;
  transition: all 0.5s;
}

.tab-label:hover {
  /* background: rgba(0, 0, 0, 0.05); */
  background: rgba(255, 255, 255, 0.05);
}

.tab-content {
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  height: 0;
}

.tab-content h1 {
  padding-top: 25px;
}

/* アクティブなタブ */
.tab-switch:checked+.tab-label {
  transform: translateY(-7px);
  /* background: rgba(0, 0, 0, 0.2); */
  background: rgba(255, 255, 255, 0.2);
  outline: black;
}

.tab-switch:checked +.tab-label + .tab-content {
  transition-property: opacity;
  transition-delay: 0.25s;
  transition-duration: 0.3s;
  opacity: 1.0;
  height: auto;
}

/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}

.tournament-top-section {
  width: 100%;
  min-height: 100vh;
  /* background: rgb(45, 45, 45); */
  background: url(./assets/img/tournament_0.jpg);
  color: white;
  text-align: center;
}

.tournament-top-section h1 {
  font-size: 48px;
  padding-top: 150px;
}

.tournament-top-section p {
  font-size: 32px;
  margin:0;
  padding:0;
}

.tournament-top-section img {
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 50px;
}

.tournament-details-section {
  width: 100%;
  min-height: 50vh;
  height: auto;
  background: rgb(20, 20, 20);
  text-align: center;
}

.tournament-details-section h1 {
  color: white;
  font-size: 64px;
  font-weight: normal;
  padding-top: 100px;
}

.tournament-details-section p {
  color: white;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 50px;
  white-space: pre-line;
}

.tournament-details-section img {
  margin-bottom: 20vh;
}

.tournament-block-section {
  width: 100%;
  height: auto;
  min-height: 70vh;
  text-align: center;
  background: rgb(20, 20, 20);
}

.sponsors-section {
  width: 100%;
  height: auto;
  min-height: 75vh;
  background: rgb(20,20,20);
  text-align: center;
}

.sponsors-section h1 {
  color: white;
  font-size: 48px;
  padding: 50px 0px;
}

.sponsors-section ul {
  list-style: none;
  display: inline-table;
  justify-content: center;
  margin-bottom: 50px;
}

.sponsors-section ul li {
  display: block;
  margin: 50px 50px;
  background: white;
  max-width: 100%;
}

.sponsors-section p {
  color: black;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  background: white;
  line-height: 50px;
}

.sponsors-section img {
  height: 250px;
  width: auto;
  max-width: 100%;
}